body{
    padding: 0px;
    margin : 0px;
    background-image:url("6.png");
    background-repeat: no-repeat;
    background-position: cover;
    font-family: "Whitney","Helvetica Neue","Helvetica";
}
/* header{
    width: 1000px;
   
}

#logo{
    width:45px;
    height: 45px;
     
}
.discc{
    display: flex;
    height: 50px;
    justify-content: space-between;
    width: 130px;
    margin : 40px 0 0 200px;
    align-items: center;
}
    
#discord{
    color: white;
    font-size: 19px;
} 


ul{
    margin: -30px 0px 0px 300px;
}
li{
    list-style-type: none;
    display: inline;
    font-size: 15px;
    font-weight:600;
    padding : 10px;
    float: left; 
}

a{
    color: white;
    display: inline;
    text-decoration: none;
    padding: 10px;
}

#login{
    border-radius: 45px;
    height: 35px;
    width: 125px;
    margin: -10px 1000px 0px;
    border: 1px solid black ;
    border-color: white;
    font-size:14px ; */
header{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
main{
    padding: 0px;
    margin: 200px 0px 0px -500px;
    float:right;
}

#imagine{
    font-size: 45px;
    color: white;
    font-weight: 900;
  
}
p{
    margin: 0px 0px 0px -90px;
    font-size: 15px;
    color: white;
    font-weight: 100;
}

#download{
    border-radius: 20px;
    width: 250px;
    height: 40px;
    margin: 50px 0px 0px -80px;
    font-size: 16px;
    border: 1px solid white;
}

#open{
    border-radius: 20px;
    width: 250px;
    height: 40px;
    margin: 20px 0px 0px 35px;
    font-size: 15px;
    background-color: black;
    color: white;
    border: 1px solid black;
}

#ready{
    margin: 550px 60px 0px -490px;
    font-size: 24px;
    font-weight: 700;
}



