body{
    padding: 0;
    margin: 0;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}

.left{
    float : left;
    border: 2px solid #dcdcdcaf;
    width: 308px;
    border-right: 4px solid #dcdcdcaf;
}

.profile{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 6px 0;    
}

#pepperPic{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 20px;
}

#search{
    border-radius: 20px;
    width: 296px;
    margin:0 px;
    background-color: #dcdcdc8e;
    height: 35px;
    border: white;
}

#chatPic{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-left: 5px;
}

.chatting{
        display: flex;
        justify-content:space-between;
        align-items: center;
        margin: 0 5px;
        height: 60px;
        border-radius: 10px;  
}

.name{
    font-size:13px; 
    margin:6px 0;
    margin-bottom: -8px;
}

.nameChat{
    margin-right: 35px;
}

.install{
        display: flex;
        margin-left: 80px;
        align-items: center;
        font-size: 6px;

}

.withChatHead{
    display: flex;
    align-items: center;
    border: 2px solid #dcdcdcaf;
    border-bottom: 3px solid #dcdcdcaf;
    width: 1063px;
    float: right;
    height: 44px;
}

.mainChat{
    border: 2px solid #dcdcdcaf;
    width: 1063px;
    float: right;
    height: 595px;
    border-bottom: 2px solid white;
}

.top{
    margin-left: 810px;
}

.chatButtons{
    border-radius: 17px;
    height: 37px;
    border: 1px solid white;
    margin-left: 8px;
    padding: 10px;
    margin-bottom: 7px;
}

.first{
    display: flex;
    align-items: center;
}

.writeText{
    display: flex;
    justify-content:space-between;
    align-items: center; 
    width: 1063px;
}



