body {
    font-family: "Lato", sans-serif;
    background-image: url('player.jpg');
    background-size: cover;
    /* color: white; */
  }
  #required{
      background-color: white;
      color: rgb(18, 20, 181);
      text-align: center;
      width: 400px;
      margin: 10px 300px 25% 850px;
  }
  h1{
      color: white;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: center;
      margin: 350px 0 0 620px;

  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }


  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  