@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lobster&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lobster&family=Pacifico&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:cursive;
    background-color: #5ca3d9;
    color: white;
}

img{
    float: right;
    display: block;
    width: 550px;
}

h1{
    /* color: #4e24b1; */
    font-size: 75px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

h4{
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}

.machine, .machine1, .machine2{
    /* border: 1px solid red; */
    width: 800px;
    margin:20px;

}



h5{
    font-size: 25px;
}

p{
    font-size: 18px;
    font-family: cu;
}

 /*jaba samma 280 wa kam xa tala ko codes chalxa*/
    

@media  (min-width:412px){
    img{
        width:550px;
        margin-top: -95px;
        margin-left: 20px;
    }
    
    h1{
    font-size: 80px;
    }
    h4{
        font-size: 28px;
        padding-left: 10px;
    }
    .machine{
        width: 740px;
    }
    .machine1, .machine2{
        width: 1000px;
    }

    @media  (min-width:1280px)
    {   .machine{
        width: 740px;
    }
    .machine1, .machine2{
        width: 1200px;
    }

    }
    #check{
        margin-left: 15px;
        font-size: 22px;
    }
    p{
        font-size: 20px;
    }
    h5{
        font-size: 25px;
    }
   
}

@media  (min-width:1024px){
    img{
        width:120px;
        margin-top: -35px;
    }
    
    h1{
    font-size: 30px;
    }
    h4{
        font-size: 14px;
        padding-left: 10px;
    }

    /* .machine, .machine1, .machine2{
        width: 850px;
    }  */
    .first{ 
        display: flex;
        width: 880px;
    }

    .second, .third{
        display: flex;
        width: 900px;
    }
   

    #check{
        margin-left: 15px;
        font-size: 12px;
    }
    p{
        font-size: 10px;
    }
    h5{
        font-size: 15px;
    }
   
}

@media  (min-width:280px){
    img{
        width:380px;
        margin-top: -55px;
    
    }
    
    h1{
    font-size: 50px;
    }
    h4{
        font-size: 34px;
        padding-left: 10px;
    }

    .machine, .machine1, .machine2{
        width: 350px;
    } 

    #check{
        margin-left: 15px;
        font-size: 22px;
    }
    p{
        font-size: 17px;
    }
    h5{
        font-size: 25px;
    }
   
}




