*{
   padding : 0px;
   margin : 0px; 
}
body{
   background-image: url("tree.png");
   background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: brown;
    padding: 15px;
    font-size: 35px;
}

/*h1::before{
    content : url("namaste-covid.gif") ;
}*/
h1::first-letter{
    color:red;
    font-size: 45px;
}


ul{
    list-style-type: none;  
    text-decoration : none;
  
}

li{
    display: inline;
    font-size: 20px;
    padding : 10px;
}

a{
    text-decoration: none;
}

a:link{
    color:purple;
}

a:hover{
    font-size: 30px ;
    color: brown;  
}
